<%- include('layouts/loginSignupHeader')%>

<div class="container" id="container">
        <%- include('layouts/userRegister')%>
       
        <%- include('layouts/userSignin')%>
        <%- include('layouts/loginSignupText')%>
    </div>

<%- include('layouts/loginSignupFooter')%>