<%- include('layouts/viewHeader') %>
    <div class="main-container">
        
        <%- include('layouts/viewSidebar') %>
        <%- include('layouts/viewMainPage') %>

    </div>
    <!-- view details -->

        <%- include('layouts/viewDetails') %>

    <!-- view details -->

    
    <!-- employe form delet confirmation -->
    <%- include('layouts/viewDelete') %>

    <!-- employe form delet confirmation -->

    <!-- edit form start -->
    <%- include('layouts/viewEdit') %>
     <!-- edit form end -->

<%- include('layouts/viewFooter') %>